.homepage-container {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.games-div {
    margin: 5%;
    padding: 3%;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    grid-auto-rows: auto;   
    align-items: start;     
    height: 75vh;           
    overflow-y: hidden;     
}
